@import url(../fonts/bebasneue/stylesheet.css);
/*
  Imports
*/
/*
  Resusable Vars
*/
/*
  Typography
*/
/* line 15, ../scss/app.scss */
h1, h3, h4 {
  color: #d64541;
}

/* line 16, ../scss/app.scss */
h2, h3, p {
  font-family: "Lato", "Futura", "Open Sans Condensed", sans-serif;
}

/* line 17, ../scss/app.scss */
h2, p {
  color: #fff;
}

/* line 18, ../scss/app.scss */
h4 {
  font-family: "bebas_neuebold";
}

/* line 19, ../scss/app.scss */
a, a:hover {
  color: inherit;
  font-family: inherit;
}

/* line 20, ../scss/app.scss */
a:active {
  color: inherit;
}

/* line 21, ../scss/app.scss */
a:focus {
  color: inherit;
}

/* line 22, ../scss/app.scss */
h1 {
  font-family: 'Open Sans Condensed';
  font-weight: 900;
  font-size: 6.5rem;
  line-height: 5.5rem;
}

/* line 27, ../scss/app.scss */
h2 {
  font-weight: 700;
}

/* line 29, ../scss/app.scss */
h4 {
  border: 0.12rem solid #d64541;
  border-radius: 3%;
  max-width: 8em;
  padding: 0.5em;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.8rem;
}

/* line 37, ../scss/app.scss */
p {
  font-size: 1.1rem;
}

/*
  HTML Elements
*/
/* line 41, ../scss/app.scss */
body {
  background: #14192c;
}

/* line 43, ../scss/app.scss */
section {
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 47, ../scss/app.scss */
hr {
  width: 50%;
  border-color: #fff;
  margin: 0 auto;
  padding: 0.1em;
}

/* line 52, ../scss/app.scss */
article {
  padding: 2em 0em;
}
/* line 54, ../scss/app.scss */
article hr {
  width: 8em;
  margin: 0;
}

/*
  Theme Classes
*/
/* line 61, ../scss/app.scss */
.logo {
  z-index: 1000;
}

/* line 62, ../scss/app.scss */
.logo > * {
  font-family: "bebas_neuebold";
  font-weight: 700;
  position: fixed;
  left: 0.9em;
  top: 0.6em;
  border-bottom: 0.125em solid #d64541;
  border-top: 0.125em solid #d64541;
}

/* line 70, ../scss/app.scss */
.port-col {
  height: 100%;
  background: #14192c;
}

/* line 73, ../scss/app.scss */
.port-col:hover {
  background: #d64541;
  -webkit-transition: all 1.6s ease;
  -moz-transition: all 1.6s ease;
  -ms-transition: all 1.6s ease;
  -o-transition: all 1.6s ease;
  transition: all 1.6s ease;
}
/* line 75, ../scss/app.scss */
.port-col:hover h4, .port-col:hover a {
  color: #eee;
  border: none;
}
/* line 76, ../scss/app.scss */
.port-col:hover h4:hover {
  text-decoration: line-through;
}

/* line 82, ../scss/app.scss */
#titles {
  margin: 12em 0 6rem 0;
}

/* line 83, ../scss/app.scss */
#titles > * {
  padding: 0.03em;
}

/* line 84, ../scss/app.scss */
#blog {
  border: 0.6rem solid #fff;
  padding: 3% 10%;
}

/* line 85, ../scss/app.scss */
.social-icons {
  margin: 2em 0em;
}
/* line 87, ../scss/app.scss */
.social-icons img {
  width: 5rem;
  height: 5rem;
  opacity: 0.8;
  margin: 1em 1em 1em 0;
}
/* line 93, ../scss/app.scss */
.social-icons img:hover {
  opacity: 1;
}

/*
  Mixins
*/
/* line 98, ../scss/app.scss */
.port-col > * {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 106, ../scss/app.scss */
.port-col > * a {
  max-width: 100%;
}
