/*
  Resusable Vars
*/
.container{
  width:40em;
  margin: 0 auto;
}


/*
  Typography
*/

a,a:hover,a:active,a:focus{color: inherit;font-family: inherit;}
a:hover{color: #fff;}
/*
  HTML Elements
*/
body{
  background:#242424;
  color: #dbdbdb;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
header{
  margin: 10em 0;
}
h1{
  font-family: 'Josefin Sans';
}
ul{list-style-type: none;margin: 0 auto;padding:0;background: mediumvioletred}
li{display: inline-block;margin: 1.1em;padding:0;}
/*
  Theme Classes
*/
