@import '../css/reset';
/* ==========================================================================
Colors!
========================================================================== */
$brand-color:#db0a5b;
$black: #343534;
$blu: #9A12B3;
/* =========================================================================
Typography
========================================================================== */
$base-font: 14px;
body{
font-family:'Roboto Mono', 'monospace', sans-serif;
font-size: $base-font;
font-weight: 300;
@media (min-width:680px){font-size:$base-font  + 1px;}
@media (min-width:992px){font-size:$base-font  + 2px;}
@media (min-width:1200px){font-size:$base-font + 4px;}
@media (min-width:1350px){font-size:$base-font + 6px;}
color: $black;
}
h1{
  color: $brand-color;
  font-size: 2.2em;
  font-weight: 100;
  margin:0.1em auto;
  @media(min-width:600px){font-size:4em;}
}
h2{
  font-weight:300;
  color: $brand-color;
  font-size:1.6em;
  margin:0.3em auto;
  @media(min-width:600px){font-size:2.5em;}
}
h3{font-weight:300;}
/*==========================================================================
=======================Leave in case I use emojis again=====================
============================================================================*/

.emoji{font-weight: normal;font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols";}


/* =========================================================================
General
========================================================================== */
.soon{
  margin: 2em auto;text-align:center;  
  a{text-decoration:none;color:$black;}
  .wrk{
    a{
      display: inline-block; margin: 10px;
      padding:8px; background:#fbf; 
      &:hover{
        background:lighten(#fbf,5%);
        color: darken($black,5%);
      }
    }
  }
  h3{
    max-width:45em; margin:0 auto; 
    padding:1em 2em;
    line-height: 1.8;
    a{color:$brand-color;}
    //text-align:;
  }
  .em{
    margin:2em auto; 
    padding:0 8px;
    a{font-weight:300; text-decoration:underline;}
  }
}
