@font-face {
  font-family: 'lineto-circular-medium';
  src: url('../fonts/lineto-circular-medium.eot');
  src: url('../fonts/lineto-circular-medium.woff') format('woff'),
       url('../fonts/lineto-circular-medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'lineto-circular-bold';
  src: url('../fonts/lineto-circular-bold.eot');
  src: url('../fonts/lineto-circular-bold.woff') format('woff'),
       url('../fonts/lineto-circular-bold.ttf')  format('truetype');
}