<<<<<<< HEAD
@font-face{font-family:'lineto-circular-medium';src:url("../fonts/lineto-circular-medium.eot");src:url("../fonts/lineto-circular-medium.woff") format("woff"),url("../fonts/lineto-circular-medium.ttf") format("truetype")}@font-face{font-family:'lineto-circular-bold';src:url("../fonts/lineto-circular-bold.eot");src:url("../fonts/lineto-circular-bold.woff") format("woff"),url("../fonts/lineto-circular-bold.ttf") format("truetype")}body{font-size:14px;font-weight:400;font-family:'Roboto Mono'}@media screen and (min-width: 600px){body{font-size:16px}}h1{font-size:5.569em}h2{font-size:3.713em}h3{font-size:2.475em}h4{font-size:1.65em}.serif{font-family:'Abril Fatface', cursive}.nav{display:inline-block;position:absolute;z-index:10;top:1.3em;width:100%;height:2.4em;clear:both}.menu-list{height:100vh;width:100vw;position:absolute;top:0;left:0;z-index:1;background-color:#f3f3f6;-webkit-transition:all 0.6s ease-in-out;transition:all 0.6s ease-in-out;display:none;clear:both}.menu-list ul{position:relative;top:45%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);text-align:center;letter-spacing:3px}.menu-list ul h1{letter-spacing:-2px}.menu-list ul li{font-size:3.4em;font-family:'Abril Fatface', cursive;display:inline-block;margin:0.5em}.menu-list ul li a:hover{text-decoration:line-through}.burger-icon{position:absolute;margin:2em;float:none;margin:0 auto;cursor:pointer;clear:both;z-index:999999}.burger-container{position:relative;height:28px;width:36px}.hamburglar{display:block;width:2em;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;margin:1em auto;margin-top:0.75em;z-index:9999}.burger-bun-top,.burger-bun-bot,.burger-filling{position:absolute;display:block;height:3px;width:32px;border-radius:3px;background:#222}.line-up{position:absolute;display:block;height:32px;border-radius:3px;background:#222;top:-8.5px;left:43%;transform:translateX(-50%) scaleY(0);-webkit-transform:translateX(-50%) scaleY(0);-ms-transform:translateX(-50%) scaleY(0);width:3px}.burger-bun-top{top:0}.burger-bun-bot{top:12px}.burger-filling{top:6px}.hamburglar.is-open .burger-bun-top{-webkit-animation:bun-top-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;animation:bun-top-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-ms-transform-origin:100% 100%;-webkit-transform-origin:100% 100%;transform-origin:100% 100%}.hamburglar.is-open .burger-bun-bot{-webkit-animation:bun-bot-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;animation:bun-bot-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-ms-transform-origin:0% 0%;-webkit-transform-origin:0% 0%;transform-origin:0% 0%}.hamburglar.is-open .burger-filling{-webkit-animation:filling-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;animation:filling-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-ms-transform-origin:50% 50%;-webkit-transform-origin:50% 50%;transform-origin:50% 50%}.hamburglar.is-open .line-up{-webkit-animation:line-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.55s;animation:line-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.55s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.hamburglar.is-closed .line-up{-webkit-animation:line-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;animation:line-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.hamburglar.is-closed .burger-filling{-webkit-animation:filling-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;animation:filling-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards}.hamburglar.is-closed .burger-bun-bot{-webkit-animation:bun-bot-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;animation:bun-bot-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-ms-transform-origin:0% 0%;-webkit-transform-origin:0% 0%;transform-origin:0% 0%;opacity:0}.hamburglar.is-closed .burger-bun-top{-webkit-animation:bun-top-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;animation:bun-top-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;-ms-transform-origin:100% 100%;-webkit-transform-origin:100% 100%;transform-origin:100% 100%;opacity:0}@-webkit-keyframes bun-top-out{0%{left:0px;top:0px;transform:rotate(0deg) scaleX(1);-webkit-transform:rotate(0deg) scaleX(1);-ms-transform:rotate(0deg) scaleX(1);opacity:1}25%{left:-0.5px;top:12px;transform:rotate(10deg) scaleX(1);-webkit-transform:rotate(10deg) scaleX(1);-ms-transform:rotate(10deg) scaleX(1);opacity:1}50%{left:-1px;top:12px;transform:rotate(20deg) scaleX(1);-webkit-transform:rotate(20deg) scaleX(1);-ms-transform:rotate(20deg) scaleX(1);opacity:1}100%{left:-1px;top:12px;transform:rotate(20deg) scaleX(0);-webkit-transform:rotate(20deg) scaleX(0);-ms-transform:rotate(20deg) scaleX(0);opacity:1}}@keyframes bun-top-out{0%{left:0px;top:0px;transform:rotate(0deg) scaleX(1);-webkit-transform:rotate(0deg) scaleX(1);-ms-transform:rotate(0deg) scaleX(1);opacity:1}25%{left:-0.5px;top:12px;transform:rotate(10deg) scaleX(1);-webkit-transform:rotate(10deg) scaleX(1);-ms-transform:rotate(10deg) scaleX(1);opacity:1}50%{left:-1px;top:12px;transform:rotate(20deg) scaleX(1);-webkit-transform:rotate(20deg) scaleX(1);-ms-transform:rotate(20deg) scaleX(1);opacity:1}100%{left:-1px;top:12px;transform:rotate(20deg) scaleX(0);-webkit-transform:rotate(20deg) scaleX(0);-ms-transform:rotate(20deg) scaleX(0);opacity:1}}@-webkit-keyframes bun-bot-out{0%{left:0px;bottom:0px;transform:rotate(0deg) scaleX(1);-webkit-transform:rotate(0deg) scaleX(1);-ms-transform:rotate(0deg) scaleX(1);opacity:1}25%{left:1px;bottom:12px;transform:rotate(15deg) scaleX(1);-webkit-transform:rotate(15deg) scaleX(1);-ms-transform:rotate(15deg) scaleX(1);opacity:1}50%{left:1px;bottom:12px;transform:rotate(20deg) scaleX(1);-webkit-transform:rotate(20deg) scaleX(1);-ms-transform:rotate(20deg) scaleX(1);opacity:1}100%{left:1px;bottom:12px;transform:rotate(20deg) scaleX(0);-webkit-transform:rotate(20deg) scaleX(0);-ms-transform:rotate(20deg) scalex(0);opacity:1}}@keyframes bun-bot-out{0%{left:0px;bottom:0px;transform:rotate(0deg) scaleX(1);-webkit-transform:rotate(0deg) scaleX(1);-ms-transform:rotate(0deg) scaleX(1);opacity:1}25%{left:1px;bottom:12px;transform:rotate(15deg) scaleX(1);-webkit-transform:rotate(15deg) scaleX(1);-ms-transform:rotate(15deg) scaleX(1);opacity:1}50%{left:1px;bottom:12px;transform:rotate(20deg) scaleX(1);-webkit-transform:rotate(20deg) scaleX(1);-ms-transform:rotate(20deg) scaleX(1);opacity:1}100%{left:1px;bottom:12px;transform:rotate(20deg) scaleX(0);-webkit-transform:rotate(20deg) scaleX(0);-ms-transform:rotate(20deg) scalex(0);opacity:1}}@-webkit-keyframes filling-out{0%{transform:scaleX(1) rotate(0deg);-webkit-transform:scaleX(1) rotate(0deg);-ms-transform:scaleX(1) rotate(0deg)}25%{transform:scaleX(1.5) rotate(0deg);-webkit-transform:scaleX(1.5) rotate(0deg);-ms-transform:scaleX(1.5) rotate(0deg)}50%{transform:scaleX(1) rotate(45deg);-webkit-transform:scaleX(1) rotate(45deg);-ms-transform:scaleX(1) rotate(45deg)}75%{transform:scaleX(1) rotate(70deg);-webkit-transform:scaleX(1) rotate(70deg);-ms-transform:scaleX(1) rotate(70deg)}100%{transform:scaleX(1) rotate(45deg);-webkit-transform:scaleX(1) rotate(45deg);-ms-transform:scaleX(1) rotate(45deg)}}@keyframes filling-out{0%{transform:scaleX(1) rotate(0deg);-webkit-transform:scaleX(1) rotate(0deg);-ms-transform:scaleX(1) rotate(0deg)}25%{transform:scaleX(1.5) rotate(0deg);-webkit-transform:scaleX(1.5) rotate(0deg);-ms-transform:scaleX(1.5) rotate(0deg)}50%{transform:scaleX(1) rotate(45deg);-webkit-transform:scaleX(1) rotate(45deg);-ms-transform:scaleX(1) rotate(45deg)}75%{transform:scaleX(1) rotate(70deg);-webkit-transform:scaleX(1) rotate(70deg);-ms-transform:scaleX(1) rotate(70deg)}100%{transform:scaleX(1) rotate(45deg);-webkit-transform:scaleX(1) rotate(45deg);-ms-transform:scaleX(1) rotate(45deg)}}@-webkit-keyframes line-out{0%{transform:translateX(-50%) scaleY(0) rotate(0deg);-webkit-transform:translateX(-50%) scaleY(0) rotate(0deg);-ms-transform:translateX(-50%) scaleY(0) rotate(0deg)}25%{transform:translateX(-50%) scaleY(1) rotate(0deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(0deg);-ms-transform:translateX(-50%) scaleY(1) rotate(0deg)}50%{transform:translateX(-50%) scaleY(1) rotate(45deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(45deg);-ms-transform:translateX(-50%) scaleY(1) rotate(45deg)}75%{transform:translateX(-50%) scaleY(1) rotate(60deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(60deg);-ms-transform:translateX(-50%) scaleY(1) rotate(60deg)}100%{transform:translateX(-50%) scaleY(1) rotate(45deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(45deg);-ms-transform:translateX(-50%) scaleY(1) rotate(45deg)}}@keyframes line-out{0%{transform:translateX(-50%) scaleY(0) rotate(0deg);-webkit-transform:translateX(-50%) scaleY(0) rotate(0deg);-ms-transform:translateX(-50%) scaleY(0) rotate(0deg)}25%{transform:translateX(-50%) scaleY(1) rotate(0deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(0deg);-ms-transform:translateX(-50%) scaleY(1) rotate(0deg)}50%{transform:translateX(-50%) scaleY(1) rotate(45deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(45deg);-ms-transform:translateX(-50%) scaleY(1) rotate(45deg)}75%{transform:translateX(-50%) scaleY(1) rotate(60deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(60deg);-ms-transform:translateX(-50%) scaleY(1) rotate(60deg)}100%{transform:translateX(-50%) scaleY(1) rotate(45deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(45deg);-ms-transform:translateX(-50%) scaleY(1) rotate(45deg)}}@-webkit-keyframes line-in{0%{transform:translateX(-50%) scaleY(1) rotate(45deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(45deg);-ms-transform:translateX(-50%) scaleY(1) rotate(45deg)}25%{transform:translateX(-50%) scaleY(1) rotate(60deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(60deg);-ms-transform:translateX(-50%) scaleY(1) rotate(60deg)}50%{transform:translateX(-50%) scaleY(1) rotate(45deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(45deg);-ms-transform:translateX(-50%) scaleY(1) rotate(45deg)}75%{transform:translateX(-50%) scaleY(1) rotate(0deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(0deg);-ms-transform:translateX(-50%) scaleY(1) rotate(0deg)}100%{transform:translateX(-50%) scaleY(0) rotate(0deg);-webkit-transform:translateX(-50%) scaleY(0) rotate(0deg);-ms-transform:translateX(-50%) scaleY(0) rotate(0deg)}}@keyframes line-in{0%{transform:translateX(-50%) scaleY(1) rotate(45deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(45deg);-ms-transform:translateX(-50%) scaleY(1) rotate(45deg)}25%{transform:translateX(-50%) scaleY(1) rotate(60deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(60deg);-ms-transform:translateX(-50%) scaleY(1) rotate(60deg)}50%{transform:translateX(-50%) scaleY(1) rotate(45deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(45deg);-ms-transform:translateX(-50%) scaleY(1) rotate(45deg)}75%{transform:translateX(-50%) scaleY(1) rotate(0deg);-webkit-transform:translateX(-50%) scaleY(1) rotate(0deg);-ms-transform:translateX(-50%) scaleY(1) rotate(0deg)}100%{transform:translateX(-50%) scaleY(0) rotate(0deg);-webkit-transform:translateX(-50%) scaleY(0) rotate(0deg);-ms-transform:translateX(-50%) scaleY(0) rotate(0deg)}}@-webkit-keyframes filling-in{0%{transform:scaleX(1) rotate(45deg);-webkit-transform:scaleX(1) rotate(45deg);-ms-transform:scaleX(1) rotate(45deg)}25%{transform:scaleX(1) rotate(70deg);-webkit-transform:scaleX(1) rotate(70deg);-ms-transform:scaleX(1) rotate(70deg)}50%{transform:scaleX(1) rotate(45deg);-webkit-transform:scaleX(1) rotate(45deg);-ms-transform:scaleX(1) rotate(45deg)}75%{transform:scaleX(1.5) rotate(0deg);-webkit-transform:scaleX(1.5) rotate(0deg);-ms-transform:scaleX(1.5) rotate(0deg)}100%{transform:scaleX(1) rotate(0deg);-webkit-transform:scaleX(1) rotate(0deg);-ms-transform:scaleX(1) rotate(0deg)}}@keyframes filling-in{0%{transform:scaleX(1) rotate(45deg);-webkit-transform:scaleX(1) rotate(45deg);-ms-transform:scaleX(1) rotate(45deg)}25%{transform:scaleX(1) rotate(70deg);-webkit-transform:scaleX(1) rotate(70deg);-ms-transform:scaleX(1) rotate(70deg)}50%{transform:scaleX(1) rotate(45deg);-webkit-transform:scaleX(1) rotate(45deg);-ms-transform:scaleX(1) rotate(45deg)}75%{transform:scaleX(1.5) rotate(0deg);-webkit-transform:scaleX(1.5) rotate(0deg);-ms-transform:scaleX(1.5) rotate(0deg)}100%{transform:scaleX(1) rotate(0deg);-webkit-transform:scaleX(1) rotate(0deg);-ms-transform:scaleX(1) rotate(0deg)}}@-webkit-keyframes bun-top-in{0%{left:-1px;top:12px;transform:rotate(20deg) scaleX(0);-webkit-transform:rotate(20deg) scaleX(0);-ms-transform:rotate(20deg) scaleX(0);opacity:0}25%{left:-1px;top:12px;transform:rotate(20deg) scaleX(1);-webkit-transform:rotate(20deg) scaleX(1);-ms-transform:rotate(20deg) scaleX(1);opacity:1}50%{left:-0.5px;top:12px;transform:rotate(10deg) scaleX(1);-webkit-transform:rotate(10deg) scaleX(1);-ms-transform:rotate(10deg) scaleX(1);opacity:1}100%{left:0px;top:0px;transform:rotate(0deg) scaleX(1);-webkit-transform:rotate(0deg) scaleX(1);-ms-transform:rotate(0deg) scaleX(1);opacity:1}}@keyframes bun-top-in{0%{left:-1px;top:12px;transform:rotate(20deg) scaleX(0);-webkit-transform:rotate(20deg) scaleX(0);-ms-transform:rotate(20deg) scaleX(0);opacity:0}25%{left:-1px;top:12px;transform:rotate(20deg) scaleX(1);-webkit-transform:rotate(20deg) scaleX(1);-ms-transform:rotate(20deg) scaleX(1);opacity:1}50%{left:-0.5px;top:12px;transform:rotate(10deg) scaleX(1);-webkit-transform:rotate(10deg) scaleX(1);-ms-transform:rotate(10deg) scaleX(1);opacity:1}100%{left:0px;top:0px;transform:rotate(0deg) scaleX(1);-webkit-transform:rotate(0deg) scaleX(1);-ms-transform:rotate(0deg) scaleX(1);opacity:1}}@-webkit-keyframes bun-bot-in{0%{left:1px;bottom:12px;transform:rotate(20deg) scaleX(0);-webkit-transform:rotate(20deg) scaleX(0);-ms-transform:rotate(20deg) scalex(0);opacity:1}25%{left:1px;bottom:12px;transform:rotate(20deg) scaleX(1);-webkit-transform:rotate(20deg) scaleX(1);-ms-transform:rotate(20deg) scaleX(1);opacity:1}50%{left:1px;bottom:12px;transform:rotate(15deg) scaleX(1);-webkit-transform:rotate(15deg) scaleX(1);-ms-transform:rotate(15deg) scaleX(1);opacity:1}100%{left:0px;bottom:0px;transform:rotate(0deg) scaleX(1);-webkit-transform:rotate(0deg) scaleX(1);-ms-transform:rotate(0deg) scaleX(1);opacity:1}}@keyframes bun-bot-in{0%{left:1px;bottom:12px;transform:rotate(20deg) scaleX(0);-webkit-transform:rotate(20deg) scaleX(0);-ms-transform:rotate(20deg) scalex(0);opacity:1}25%{left:1px;bottom:12px;transform:rotate(20deg) scaleX(1);-webkit-transform:rotate(20deg) scaleX(1);-ms-transform:rotate(20deg) scaleX(1);opacity:1}50%{left:1px;bottom:12px;transform:rotate(15deg) scaleX(1);-webkit-transform:rotate(15deg) scaleX(1);-ms-transform:rotate(15deg) scaleX(1);opacity:1}100%{left:0px;bottom:0px;transform:rotate(0deg) scaleX(1);-webkit-transform:rotate(0deg) scaleX(1);-ms-transform:rotate(0deg) scaleX(1);opacity:1}}body{background-color:#f7f7f7;color:#211f00}.main{position:relative;padding:0 5%;padding-top:0}@media screen and (min-width: 700px){.main{max-width:100%;margin:0 auto}}a{text-decoration:none;color:inherit}a:hover{text-decoration:line-through}.listy{text-align:left;position:relative;margin:3em 0}.listy p{text-align:left}@media (min-width: 500px){.listy p{text-align:left}}.listy p>a{color:#db0a5b}.listy li{letter-spacing:-1px;margin:1rem 0;font-size:1.5em}@media (min-width: 500px){.listy li{font-size:1.8em;padding-left:0}}.listy li a{-webkit-transition:none;transition:none;text-decoration:none;color:#2e2e2e}.listy li a:hover{text-decoration:line-through}
=======
@font-face {
  font-family: 'lineto-circular-medium';
  src: url("../fonts/lineto-circular-medium.eot");
  src: url("../fonts/lineto-circular-medium.woff") format("woff"), url("../fonts/lineto-circular-medium.ttf") format("truetype");
}

@font-face {
  font-family: 'lineto-circular-bold';
  src: url("../fonts/lineto-circular-bold.eot");
  src: url("../fonts/lineto-circular-bold.woff") format("woff"), url("../fonts/lineto-circular-bold.ttf") format("truetype");
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: 'lineto-circular-bold','lineto-circular-medium', Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.1em;
  }
}

h1 {
  font-size: 5.569em;
}

h2 {
  font-size: 3.713em;
}

h3 {
  font-size: 2.475em;
}

h4 {
  font-size: 1.65em;
}

.serif {
  font-family: 'Abril Fatface', cursive;
}

.nav {
  display: inline-block;
  position: absolute;
  z-index: 10;
  top: 1.3em;
  width: 100%;
  height: 2.4em;
  clear: both;
}

.menu-list {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #f3f3f6;
  display: none;
  clear: both;
}

.menu-list ul {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  letter-spacing: 3px;
}

.menu-list ul h1 {
  letter-spacing: -2px;
}

.menu-list ul li {
  font-size: 3.4em;
  font-family: 'Abril Fatface', cursive;
  display: inline-block;
  margin: 0.5em;
}

.menu-list ul li a:hover {
  text-decoration: line-through;
}

.burger-icon {
  position: absolute;
  margin: 2em;
  float: none;
  margin: 0 auto;
  cursor: pointer;
  clear: both;
  z-index: 999999;
}

.burger-container {
  position: relative;
  height: 28px;
  width: 36px;
}

.hamburglar {
  display: block;
  width: 2em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 1em auto;
  margin-top: 0.75em;
  z-index: 9999;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
  position: absolute;
  display: block;
  height: 3px;
  width: 32px;
  border-radius: 3px;
  background: #222;
}

.line-up {
  position: absolute;
  display: block;
  height: 32px;
  border-radius: 3px;
  background: #222;
  top: -8.5px;
  left: 43%;
  transform: translateX(-50%) scaleY(0);
  -webkit-transform: translateX(-50%) scaleY(0);
  -ms-transform: translateX(-50%) scaleY(0);
  width: 3px;
}

.burger-bun-top {
  top: 0;
}

.burger-bun-bot {
  top: 12px;
}

.burger-filling {
  top: 6px;
}

.hamburglar.is-open .burger-bun-top {
  -webkit-animation: bun-top-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;
  animation: bun-top-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.hamburglar.is-open .burger-bun-bot {
  -webkit-animation: bun-bot-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;
  animation: bun-bot-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.hamburglar.is-open .burger-filling {
  -webkit-animation: filling-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;
  animation: filling-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.hamburglar.is-open .line-up {
  -webkit-animation: line-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.55s;
  animation: line-out 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.55s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .line-up {
  -webkit-animation: line-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;
  animation: line-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-filling {
  -webkit-animation: filling-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;
  animation: filling-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.hamburglar.is-closed .burger-bun-bot {
  -webkit-animation: bun-bot-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;
  animation: bun-bot-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  opacity: 0;
}

.hamburglar.is-closed .burger-bun-top {
  -webkit-animation: bun-top-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;
  animation: bun-top-in 0.3s cubic-bezier(0.1, 0.05, 0.05, 0) normal 0.4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  opacity: 0;
}

@-webkit-keyframes bun-top-out {
  0% {
    left: 0px;
    top: 0px;
    transform: rotate(0deg) scaleX(1);
    -webkit-transform: rotate(0deg) scaleX(1);
    -ms-transform: rotate(0deg) scaleX(1);
    opacity: 1;
  }
  25% {
    left: -0.5px;
    top: 12px;
    transform: rotate(10deg) scaleX(1);
    -webkit-transform: rotate(10deg) scaleX(1);
    -ms-transform: rotate(10deg) scaleX(1);
    opacity: 1;
  }
  50% {
    left: -1px;
    top: 12px;
    transform: rotate(20deg) scaleX(1);
    -webkit-transform: rotate(20deg) scaleX(1);
    -ms-transform: rotate(20deg) scaleX(1);
    opacity: 1;
  }
  100% {
    left: -1px;
    top: 12px;
    transform: rotate(20deg) scaleX(0);
    -webkit-transform: rotate(20deg) scaleX(0);
    -ms-transform: rotate(20deg) scaleX(0);
    opacity: 1;
  }
}

@keyframes bun-top-out {
  0% {
    left: 0px;
    top: 0px;
    transform: rotate(0deg) scaleX(1);
    -webkit-transform: rotate(0deg) scaleX(1);
    -ms-transform: rotate(0deg) scaleX(1);
    opacity: 1;
  }
  25% {
    left: -0.5px;
    top: 12px;
    transform: rotate(10deg) scaleX(1);
    -webkit-transform: rotate(10deg) scaleX(1);
    -ms-transform: rotate(10deg) scaleX(1);
    opacity: 1;
  }
  50% {
    left: -1px;
    top: 12px;
    transform: rotate(20deg) scaleX(1);
    -webkit-transform: rotate(20deg) scaleX(1);
    -ms-transform: rotate(20deg) scaleX(1);
    opacity: 1;
  }
  100% {
    left: -1px;
    top: 12px;
    transform: rotate(20deg) scaleX(0);
    -webkit-transform: rotate(20deg) scaleX(0);
    -ms-transform: rotate(20deg) scaleX(0);
    opacity: 1;
  }
}

@-webkit-keyframes bun-bot-out {
  0% {
    left: 0px;
    bottom: 0px;
    transform: rotate(0deg) scaleX(1);
    -webkit-transform: rotate(0deg) scaleX(1);
    -ms-transform: rotate(0deg) scaleX(1);
    opacity: 1;
  }
  25% {
    left: 1px;
    bottom: 12px;
    transform: rotate(15deg) scaleX(1);
    -webkit-transform: rotate(15deg) scaleX(1);
    -ms-transform: rotate(15deg) scaleX(1);
    opacity: 1;
  }
  50% {
    left: 1px;
    bottom: 12px;
    transform: rotate(20deg) scaleX(1);
    -webkit-transform: rotate(20deg) scaleX(1);
    -ms-transform: rotate(20deg) scaleX(1);
    opacity: 1;
  }
  100% {
    left: 1px;
    bottom: 12px;
    transform: rotate(20deg) scaleX(0);
    -webkit-transform: rotate(20deg) scaleX(0);
    -ms-transform: rotate(20deg) scalex(0);
    opacity: 1;
  }
}

@keyframes bun-bot-out {
  0% {
    left: 0px;
    bottom: 0px;
    transform: rotate(0deg) scaleX(1);
    -webkit-transform: rotate(0deg) scaleX(1);
    -ms-transform: rotate(0deg) scaleX(1);
    opacity: 1;
  }
  25% {
    left: 1px;
    bottom: 12px;
    transform: rotate(15deg) scaleX(1);
    -webkit-transform: rotate(15deg) scaleX(1);
    -ms-transform: rotate(15deg) scaleX(1);
    opacity: 1;
  }
  50% {
    left: 1px;
    bottom: 12px;
    transform: rotate(20deg) scaleX(1);
    -webkit-transform: rotate(20deg) scaleX(1);
    -ms-transform: rotate(20deg) scaleX(1);
    opacity: 1;
  }
  100% {
    left: 1px;
    bottom: 12px;
    transform: rotate(20deg) scaleX(0);
    -webkit-transform: rotate(20deg) scaleX(0);
    -ms-transform: rotate(20deg) scalex(0);
    opacity: 1;
  }
}

@-webkit-keyframes filling-out {
  0% {
    transform: scaleX(1) rotate(0deg);
    -webkit-transform: scaleX(1) rotate(0deg);
    -ms-transform: scaleX(1) rotate(0deg);
  }
  25% {
    transform: scaleX(1.5) rotate(0deg);
    -webkit-transform: scaleX(1.5) rotate(0deg);
    -ms-transform: scaleX(1.5) rotate(0deg);
  }
  50% {
    transform: scaleX(1) rotate(45deg);
    -webkit-transform: scaleX(1) rotate(45deg);
    -ms-transform: scaleX(1) rotate(45deg);
  }
  75% {
    transform: scaleX(1) rotate(70deg);
    -webkit-transform: scaleX(1) rotate(70deg);
    -ms-transform: scaleX(1) rotate(70deg);
  }
  100% {
    transform: scaleX(1) rotate(45deg);
    -webkit-transform: scaleX(1) rotate(45deg);
    -ms-transform: scaleX(1) rotate(45deg);
  }
}

@keyframes filling-out {
  0% {
    transform: scaleX(1) rotate(0deg);
    -webkit-transform: scaleX(1) rotate(0deg);
    -ms-transform: scaleX(1) rotate(0deg);
  }
  25% {
    transform: scaleX(1.5) rotate(0deg);
    -webkit-transform: scaleX(1.5) rotate(0deg);
    -ms-transform: scaleX(1.5) rotate(0deg);
  }
  50% {
    transform: scaleX(1) rotate(45deg);
    -webkit-transform: scaleX(1) rotate(45deg);
    -ms-transform: scaleX(1) rotate(45deg);
  }
  75% {
    transform: scaleX(1) rotate(70deg);
    -webkit-transform: scaleX(1) rotate(70deg);
    -ms-transform: scaleX(1) rotate(70deg);
  }
  100% {
    transform: scaleX(1) rotate(45deg);
    -webkit-transform: scaleX(1) rotate(45deg);
    -ms-transform: scaleX(1) rotate(45deg);
  }
}

@-webkit-keyframes line-out {
  0% {
    transform: translateX(-50%) scaleY(0) rotate(0deg);
    -webkit-transform: translateX(-50%) scaleY(0) rotate(0deg);
    -ms-transform: translateX(-50%) scaleY(0) rotate(0deg);
  }
  25% {
    transform: translateX(-50%) scaleY(1) rotate(0deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(0deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(0deg);
  }
  50% {
    transform: translateX(-50%) scaleY(1) rotate(45deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(45deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(45deg);
  }
  75% {
    transform: translateX(-50%) scaleY(1) rotate(60deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(60deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(60deg);
  }
  100% {
    transform: translateX(-50%) scaleY(1) rotate(45deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(45deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(45deg);
  }
}

@keyframes line-out {
  0% {
    transform: translateX(-50%) scaleY(0) rotate(0deg);
    -webkit-transform: translateX(-50%) scaleY(0) rotate(0deg);
    -ms-transform: translateX(-50%) scaleY(0) rotate(0deg);
  }
  25% {
    transform: translateX(-50%) scaleY(1) rotate(0deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(0deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(0deg);
  }
  50% {
    transform: translateX(-50%) scaleY(1) rotate(45deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(45deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(45deg);
  }
  75% {
    transform: translateX(-50%) scaleY(1) rotate(60deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(60deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(60deg);
  }
  100% {
    transform: translateX(-50%) scaleY(1) rotate(45deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(45deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(45deg);
  }
}

@-webkit-keyframes line-in {
  0% {
    transform: translateX(-50%) scaleY(1) rotate(45deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(45deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(45deg);
  }
  25% {
    transform: translateX(-50%) scaleY(1) rotate(60deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(60deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(60deg);
  }
  50% {
    transform: translateX(-50%) scaleY(1) rotate(45deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(45deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(45deg);
  }
  75% {
    transform: translateX(-50%) scaleY(1) rotate(0deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(0deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) scaleY(0) rotate(0deg);
    -webkit-transform: translateX(-50%) scaleY(0) rotate(0deg);
    -ms-transform: translateX(-50%) scaleY(0) rotate(0deg);
  }
}

@keyframes line-in {
  0% {
    transform: translateX(-50%) scaleY(1) rotate(45deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(45deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(45deg);
  }
  25% {
    transform: translateX(-50%) scaleY(1) rotate(60deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(60deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(60deg);
  }
  50% {
    transform: translateX(-50%) scaleY(1) rotate(45deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(45deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(45deg);
  }
  75% {
    transform: translateX(-50%) scaleY(1) rotate(0deg);
    -webkit-transform: translateX(-50%) scaleY(1) rotate(0deg);
    -ms-transform: translateX(-50%) scaleY(1) rotate(0deg);
  }
  100% {
    transform: translateX(-50%) scaleY(0) rotate(0deg);
    -webkit-transform: translateX(-50%) scaleY(0) rotate(0deg);
    -ms-transform: translateX(-50%) scaleY(0) rotate(0deg);
  }
}

@-webkit-keyframes filling-in {
  0% {
    transform: scaleX(1) rotate(45deg);
    -webkit-transform: scaleX(1) rotate(45deg);
    -ms-transform: scaleX(1) rotate(45deg);
  }
  25% {
    transform: scaleX(1) rotate(70deg);
    -webkit-transform: scaleX(1) rotate(70deg);
    -ms-transform: scaleX(1) rotate(70deg);
  }
  50% {
    transform: scaleX(1) rotate(45deg);
    -webkit-transform: scaleX(1) rotate(45deg);
    -ms-transform: scaleX(1) rotate(45deg);
  }
  75% {
    transform: scaleX(1.5) rotate(0deg);
    -webkit-transform: scaleX(1.5) rotate(0deg);
    -ms-transform: scaleX(1.5) rotate(0deg);
  }
  100% {
    transform: scaleX(1) rotate(0deg);
    -webkit-transform: scaleX(1) rotate(0deg);
    -ms-transform: scaleX(1) rotate(0deg);
  }
}

@keyframes filling-in {
  0% {
    transform: scaleX(1) rotate(45deg);
    -webkit-transform: scaleX(1) rotate(45deg);
    -ms-transform: scaleX(1) rotate(45deg);
  }
  25% {
    transform: scaleX(1) rotate(70deg);
    -webkit-transform: scaleX(1) rotate(70deg);
    -ms-transform: scaleX(1) rotate(70deg);
  }
  50% {
    transform: scaleX(1) rotate(45deg);
    -webkit-transform: scaleX(1) rotate(45deg);
    -ms-transform: scaleX(1) rotate(45deg);
  }
  75% {
    transform: scaleX(1.5) rotate(0deg);
    -webkit-transform: scaleX(1.5) rotate(0deg);
    -ms-transform: scaleX(1.5) rotate(0deg);
  }
  100% {
    transform: scaleX(1) rotate(0deg);
    -webkit-transform: scaleX(1) rotate(0deg);
    -ms-transform: scaleX(1) rotate(0deg);
  }
}

@-webkit-keyframes bun-top-in {
  0% {
    left: -1px;
    top: 12px;
    transform: rotate(20deg) scaleX(0);
    -webkit-transform: rotate(20deg) scaleX(0);
    -ms-transform: rotate(20deg) scaleX(0);
    opacity: 0;
  }
  25% {
    left: -1px;
    top: 12px;
    transform: rotate(20deg) scaleX(1);
    -webkit-transform: rotate(20deg) scaleX(1);
    -ms-transform: rotate(20deg) scaleX(1);
    opacity: 1;
  }
  50% {
    left: -0.5px;
    top: 12px;
    transform: rotate(10deg) scaleX(1);
    -webkit-transform: rotate(10deg) scaleX(1);
    -ms-transform: rotate(10deg) scaleX(1);
    opacity: 1;
  }
  100% {
    left: 0px;
    top: 0px;
    transform: rotate(0deg) scaleX(1);
    -webkit-transform: rotate(0deg) scaleX(1);
    -ms-transform: rotate(0deg) scaleX(1);
    opacity: 1;
  }
}

@keyframes bun-top-in {
  0% {
    left: -1px;
    top: 12px;
    transform: rotate(20deg) scaleX(0);
    -webkit-transform: rotate(20deg) scaleX(0);
    -ms-transform: rotate(20deg) scaleX(0);
    opacity: 0;
  }
  25% {
    left: -1px;
    top: 12px;
    transform: rotate(20deg) scaleX(1);
    -webkit-transform: rotate(20deg) scaleX(1);
    -ms-transform: rotate(20deg) scaleX(1);
    opacity: 1;
  }
  50% {
    left: -0.5px;
    top: 12px;
    transform: rotate(10deg) scaleX(1);
    -webkit-transform: rotate(10deg) scaleX(1);
    -ms-transform: rotate(10deg) scaleX(1);
    opacity: 1;
  }
  100% {
    left: 0px;
    top: 0px;
    transform: rotate(0deg) scaleX(1);
    -webkit-transform: rotate(0deg) scaleX(1);
    -ms-transform: rotate(0deg) scaleX(1);
    opacity: 1;
  }
}

@-webkit-keyframes bun-bot-in {
  0% {
    left: 1px;
    bottom: 12px;
    transform: rotate(20deg) scaleX(0);
    -webkit-transform: rotate(20deg) scaleX(0);
    -ms-transform: rotate(20deg) scalex(0);
    opacity: 1;
  }
  25% {
    left: 1px;
    bottom: 12px;
    transform: rotate(20deg) scaleX(1);
    -webkit-transform: rotate(20deg) scaleX(1);
    -ms-transform: rotate(20deg) scaleX(1);
    opacity: 1;
  }
  50% {
    left: 1px;
    bottom: 12px;
    transform: rotate(15deg) scaleX(1);
    -webkit-transform: rotate(15deg) scaleX(1);
    -ms-transform: rotate(15deg) scaleX(1);
    opacity: 1;
  }
  100% {
    left: 0px;
    bottom: 0px;
    transform: rotate(0deg) scaleX(1);
    -webkit-transform: rotate(0deg) scaleX(1);
    -ms-transform: rotate(0deg) scaleX(1);
    opacity: 1;
  }
}

@keyframes bun-bot-in {
  0% {
    left: 1px;
    bottom: 12px;
    transform: rotate(20deg) scaleX(0);
    -webkit-transform: rotate(20deg) scaleX(0);
    -ms-transform: rotate(20deg) scalex(0);
    opacity: 1;
  }
  25% {
    left: 1px;
    bottom: 12px;
    transform: rotate(20deg) scaleX(1);
    -webkit-transform: rotate(20deg) scaleX(1);
    -ms-transform: rotate(20deg) scaleX(1);
    opacity: 1;
  }
  50% {
    left: 1px;
    bottom: 12px;
    transform: rotate(15deg) scaleX(1);
    -webkit-transform: rotate(15deg) scaleX(1);
    -ms-transform: rotate(15deg) scaleX(1);
    opacity: 1;
  }
  100% {
    left: 0px;
    bottom: 0px;
    transform: rotate(0deg) scaleX(1);
    -webkit-transform: rotate(0deg) scaleX(1);
    -ms-transform: rotate(0deg) scaleX(1);
    opacity: 1;
  }
}

/* ==========================================================================
Global
========================================================================== */
body {
  background-color: #f7f7f7;
  color: #211f00;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: line-through;
}

#listy {
  text-align: left;
  position: relative;
}

#listy p {
  text-align: center;
}

@media (min-width: 500px) {
  #listy p {
    text-align: left;
  }
}

#listy li {
  letter-spacing: -1px;
  margin: 1rem 0;
  font-size: 2.1em;
  padding-left: 15px;
}

@media (min-width: 500px) {
  #listy li {
    font-size: 2.9em;
    padding-left: 0;
  }
}

#listy li a {
  -webkit-transition: none;
          transition: none;
  text-decoration: none;
  color: #2e2e2e;
}

#listy li a:hover {
  text-decoration: line-through;
}

.intro {
  position: relative;
  padding-top: 6em;
}

.intro .home-list {
  margin-bottom: 4em;
}

.intro #listy {
  padding: 0 5%;
}

@media screen and (min-width: 700px) {
  .intro #listy {
    max-width: 27em;
    margin: 0 auto;
  }
}

.intro #listy p > a {
  color: #FF9940;
}
>>>>>>> origin/gh-pages
