--- 
layout: default 
---

<div class="home">
    <section class="intro">
        <div class="intro_Block">
            <p class="intro_Block_Para">
                Hi there <span class="emoji">👋</span></p>
            <p class="intro_Block_Para">  
                I'm Joshua Hanson - I work with the team <a href="http://formandaffect.com" target="_blank">@Form &amp; Affect</a>  
                building brands, online stores, web apps, and digital gems <span class="emoji">💎</span>
            </p>
            <p class="intro_Block_Para">
                My background includes working as a UX and App Designer <a href="http://ncinnovation.ca" target="_blank">@Niagara College Research &amp; Innovation</a>, 
                and an eCommerce Developer <a href="http://www.northern.co/" target="_blank">@Northern Commerce</a>
            </p>
            <p class="intro_Block_Para">
                In my spare time I can be found podcasting with friends <a href="http://thispodcastiswack.com" target="_blank">@thispodcastiswack</a>, tweeting <a href="https://www.twitter.com/joshhanson/" target="_blank">@joshhanson</a>, 
                and learning new things about design and development
            </p>
        </div>
    </section>
</div>
